*{
    margin: 0;


}
.navbar{

    background-color:#ffff;
    width: 100%;
    height: 90px;
    display: flex;
    gap: 40px;
    font-family: Arial, sans-serif;

}
.logo img{
    cursor:pointer;
    margin-left: 40px;
    gap: 10px;
    display: flex;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    
}.nav-link{

    text-decoration: none;
    color:black;
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
    list-style: none;
    display: flex;
    gap: 30px;
}

.icon{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
    margin-right: 50px;
    cursor: pointer;
    
}
.icon i{
    font-size: 15px;
}
.icon p{
    font-size: 15px;

}
#signin{
    background: white;
    color: #0a0a0a;
    padding: 7px 18px;
    border-radius: 20px;
    border: 1px solid #080808;
    font-weight: 600;
    cursor: pointer;
    
}
#signin:hover{
    background: #cac7c7;
}
#joinnow{
    background: rgb(5, 5, 5);
    color: #eaf3f1;
    padding: 7px 18px;
    border-radius: 20px;
    border: 1px solid #e6eceb;
    font-weight: 600;
    cursor: pointer;
    
}
#joinnow:hover{
    background: #413e3e;
}
.banner{
    background-color: #32462f;
    display: flex;
    justify-content: center;
    gap: 15px;
    height: 100px;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}
.banner p{
color: #ffff;
padding-top: 40px;
font-family: Arial, sans-serif;
font-weight: 600;
font-size: 17px;
letter-spacing: 1px;
}
#startorder{
background-color: #32462f;
color: #ffff;
border: 1px solid #ffff;
height: 50px;
border-radius: 40px;
width: 120px;
margin-top: 25px;
}
#startorder:hover{
    background:#045f47;
    color: #ffff;
}
.hero{
    display: flex;
    flex-direction: row-reverse;

}
.hero-text{
    flex: 1;
    background-color:#a00022;
    color: #e0e0e0;
    text-align: center;
    justify-content: center;
    padding: 80px 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.hero h1{
    font-size: 45px;
    margin-bottom: 20px;
}
.hero p{
    font-size: 25px;
    margin-bottom: 20px;
    line-height: 1.6;
}
#button{
    background: #f3f7f5;
    border: 1px solid white;
    color: rgb(15, 70, 18);
    font-size: 16px;
    padding: 10px 22px;
    border-radius: 25px;
    margin-left: 20px;
    cursor: pointer;
}
#button:hover{
    background: #cfc9c9;
}

.hero2{
    display: flex;
    

}
.hero-text2{
    flex: 1;
    background-color:#9b1230;
    color: #e0e0e0;
    text-align: center;
    justify-content: center;
    padding: 80px 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.hero2 h1{
    font-size: 45px;
    margin-bottom: 20px;
}
.hero2 p{
    font-size: 25px;
    margin-bottom: 20px;
    line-height: 1.6;
}
#button2{
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    padding: 10px 22px;
    border-radius: 25px;
    margin-left: 20px;
    cursor: pointer;
}
.hero3{
    display: flex;
    flex-direction: row-reverse;

}
.hero-text3{
    flex: 1;
    background-color:#094b30;
    color: #e0e0e0;
    text-align: center;
    justify-content: center;
    padding: 80px 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.hero3 h1{
    font-size: 45px;
    margin-bottom: 20px;
}
.hero3 p{
    font-size: 25px;
    margin-bottom: 20px;
    line-height: 1.6;
}
#button3{
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    padding: 10px 22px;
    border-radius: 25px;
    margin-left: 20px;
    cursor: pointer;
}
.hero4{
    display: flex;
    

}
.hero-text4{
    flex: 1;
    background-color:#dbd5d5;
    color: #233316ec;
    text-align: center;
    justify-content: center;
    padding: 80px 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.hero4 h1{
    font-size: 45px;
    margin-bottom: 20px;
}
.hero4 p{
    font-size: 25px;
    /* margin-bottom: 20px; */
    line-height: 1.6;
}
#button4{
    background:#0c6d31;
    border: 1px solid white;
    color: white;
    font-size: 12px;
    padding: 10px 22px;
    border-radius: 27px;
    margin-left: 20px;
    cursor: pointer;
}
.hero-last{
    background: white;
    color: #080808;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 40px;
    padding-left: 320px;
    padding-right: 320px;
    font-size: 15px;
    line-height: 1.6;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    padding: 40px 60px;
    background: #ffffff;
    color: #000;
    font-family: Arial, sans-serif;
}

/* 5 Columns */
.footer-links {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-column a {
    display: block;
    margin-bottom: 8px;
    color: #444;
    text-decoration: none;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-column a:hover {
    text-decoration: underline;
}
footer hr {
    margin: 40px 0;
    border: 0;
    border-top: 1px solid #ccc;
}


.footer-icons {
    display: flex;
    gap: 25px;
    font-size: 24px;
    margin-bottom: 30px;
}

.footer-icons i {
    cursor: pointer;
}

.footer-icons i:hover {
    opacity: 0.7;
}


.footer-bottom-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.footer-bottom-links a {
    color: #494747;
    text-decoration: none;
    font-size: 16px;
}

.footer-bottom-links a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 40px;
}

.copyright {
    color: #555;
    font-size: 14px;
    margin-top: 20px;
}


